<form [formGroup]="form">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <!-- formControl directive can be used in this (longer) way to register email control -->
      <input id="email" type="email" [formControl]="form.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <!-- formControlName directive is maybe shorter and better way to register password control -->
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>
</form>
